.watch-btn{
    width:203px;
    height:58px;
    background: linear-gradient(99.46deg, #9DFE00 -10.9%, #14D9E6 97.14%);
    border-radius: 100px;
}
.banner{
    width:1075px;
    height:511px;
    border:1px solid red;
    margin:auto;
    text-align: center;
   
}
.banner-title img{
    width:200px;
    height:100px;
    
}
.banner-description{
    width:600px;
    display:flex;
    margin:auto;
}
.banner-description p{
    width:350px;
    height:51px;
    font-size:12px;
    text-align: start;
    color:#14D9E5;
    margin-left: 40px;
}


